.header{
    user-select: none;
    display: flex;
    
}
.header__title{
    height: var(--size-5xl);

    flex: 1;
    text-align: center;
    padding: 0 .5rem;
    align-self: baseline;

    text-transform: capitalize;
    font-weight: 400;
    font-size: var(--size-4xl);
    letter-spacing: -0.035rem;
    line-height: 1.085;
}






/* xs */
/* @media (min-width: 475px) {
    
} */

/* sm */
/* @media (min-width: 640px) {
    
} */

/* md */
/* @media (min-width: 768px) {
   
} */

/* lg */
/* @media (min-width: 1024px) {
   
} */

/* xl */
/* @media (min-width: 1280px) {
    
} */

/* 2xl */
/* @media (min-width: 1536px) {
    
} */